# Dataset and large binaries
raw_dataset/
*.tfrecord

# Training outputs
outputs/
checkpoints/
animations/
*.gif

# Logs
logs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
*.pth

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
.idea/
